code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .text-blue-900 {
    color: #1d4d8b; /* Adjust as needed */
  }
  
  .w-16 {
    width: 4rem; /* Adjust width */
  }
  
  .bg-orange-500 {
    background-color: #ff8c00; /* Adjust as needed */
  }
  